{% include  "navigation_bar.html" %}
{% block body %}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">

<h1>About Us</h1>

<p id="homepageParagraph"> 
    We are a group of three Deep Learning and Convolutional Neural Network enthusiasts wanting to learn
    about Deep Learning and Convolutional Neural Networks. This passion has inspired us to attempt to solve the complex problem 
    of extracting book details from their covers.
</p>
<p id="homepageParagraph"> 
    This Project is has allowed us to learn more about Deep Learning and Convolutional Neural Network including models, algorithms and the 
    theory behind them. This project has also allowed us to learn more about building graphical user interfaces, database storage and utilising 
    Google APIs.
</p>
    
<p id="homepageParagraph"> 
    For that reason, we believe this project is a success! Allowing us to gain a plethora of knowledge and understanding.
</p>
<h2> Project Members</h2>
<h3>Cillian Martin<br>
    Callum Freeburn <br>
    Patrick Espiritu</h3>
