{% include  "navigation_bar.html" %}
{% block body %}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">

<title>Home Page</title>
<h1>The Book Keepers</h1>  
<h2>WELCOME to the Book Keepers Website!</h2>
<br/>
<p id="homepageParagraph"> 
    This website allows you to upload an Image of a Book Cover,
    Our model will extract the Title and Author from the cover to gather
    further details of the book. The Book Details will then be stored in a 
    database for you to access.
    </p>

<h2>Here is an Example</h2>

<h3>Upload a Book Cover</h3>

<img src="{{ image }}" alt="User Image" width="100%" height="100%"; height:auto; class="imagecenter">

<br />
<h3>Extract the Book Information</h3>
<br />
<br />

<div class="loader"></div>
<br />

<br />

<h3>Book Details</h3>

<table id = "bookDetails">
    {% for key, value in exampleBookDetails.items() %}
       <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
       </tr>
    {% endfor %}