<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">

<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>The Book Keepers</h1>

    <div class="webpage"    
    <h2>Please Upload a Book Cover</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" id="inputfield" ></p>
      <p><input type="submit" value="Upload" id="inputfield"></p>
    </form>
    </div>
  </body>
</html> 
