/* https://www.schemecolor.com/evening-chill.php */

h1 {
  font-size: 70px;
  font-weight: 600;
  color: #3FC6A3;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
  font-size: 32;
  font-weight: 600;
  color: #3FC6A3;
  background-clip: text;
  -webkit-background-clip: text;
}

h3 {
  font-size: 24;
  font-weight: 600;
  color: #3FC6A3;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
    background-color: #2F4A70;
    text-align: center;
    width:50%;
    margin: auto;
    padding: 10px;
}

#homepageParagraph {
  font-size: 20;
  color: #E9EADC;
}

.uploadButton {
  appearance: none;
  background-color: #E9EADC;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #4894B0;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.uploadButton:disabled {
  pointer-events: none;
}

.uploadButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.uploadButton:active {
  box-shadow: none;
  transform: translateY(0);
}

#bookDetails {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #bookDetails td, #bookDetails th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #E9EADC;
  }
  
  #bookDetails tr:hover {background-color: #ddd;}
  
  #bookDetails th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4894B0;
    color: #E9EADC;
  }

  #wrapper img {
    position: relative;  
    z-index: 2500;
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.loader {
  border: 16px solid #E9EADC; /* Light grey */
  border-top: 16px solid #3FC6A3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: relative;
  left: 50%;
  margin-left: -4em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav a {
  color: #E9EADC;
  font-size: 20;
  text-decoration: none;

}
nav {
  background-color: #333;
  overflow: hidden;
  display: inline-block;
  list-style-type: none;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
